<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{users.message} "></h2>
		<p th:text="#{usersOnSystem.message}"></p>
		<form class="navbar-form" action="/user/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por email o nombre del usuario"
					id=campoBusqueda>
			</div>
			<button type="submit" class="btn btn-default" id="buscar"
				th:text="#{search.message} "></button>
		</form>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>

						<th th:text="#{name.message} "></th>
						<th th:text="#{email.message} "></th>
						<th th:text="#{addFriend.message} "></th>

						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>



					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${userList}" th:object="${user}">

						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
						<td th:if="${#bools.isFalse(#lists.contains(friendsList,user))}">
							<div th:if="${#bools.isFalse(#lists.contains(requestList, user))}">
								<button type=" button" th:id="${'peticionButton' + user.id}"
									class="btn btn-if" th:text="#{addFriend.message}"></button>
								<script th:inline="javascript">
											/*<![CDATA[*/
											$("#peticionButton[[${user.id}]]")
													.click(function() { 
														$.get( "/user/send/[[${user.id}]]",function(data) {
															 var numberPage = [[${param.page}]];
															 var urlUpdate = '/user/list/update';
															 if ( numberPage != null ){
															 urlUpdate += "?page="+numberPage[0];
															 }
															$("#tableUser").load(urlUpdate);
															
															
														});
														$("#peticionButton[[${user.id}]]").removeClass("btn btn-if");
														$("#peticionButton[[${user.id}]]").addClass("btn btn-warning");
														$("#peticionButton[[${user.id}]]").text("Peticion enviada");
														$("#peticionButton[[${user.id}]]").attr('disabled', true);
													});
											/*]]>*/
										</script>
							</div>
							<div
								th:unless="${#bools.isFalse(#lists.contains(requestList, user))}">
								<button type=" button" th:id="${'peticionButton' + user.id}"
									class="btn btn-warning" th:text="#{requestSend.message}">
								</button>
								<script th:inline="javascript">
										/*<![CDATA[*/
										$("#peticionButton[[${user.id}]]").attr('disabled', true);
										/*]]>*/
								</script>
							</div>
						</td>
						<td
							th:unless="${#bools.isFalse(#lists.contains(friendsList,user))}">
							<button type=" button" th:id="${'peticionButton' + user.id}"
								class="btn btn-success" th:text="#{friendsNow.message}">
							</button> <script th:inline="javascript">
									/*<![CDATA[*/
									$("#peticionButton[[${user.id}]]").attr('disabled', true);
									/*]]>*/
							</script>
						</td>



					</tr>
					<tr th:each="user : ${usersList}" th:object="${user}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
					</tr>

					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>